{% load static %}
<!DOCTYPE html>
<html lang="es">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Krub:wght@300;600&display=swap" rel="stylesheet">
        
        <title>AdoptamePliss</title>
        <script src="https://kit.fontawesome.com/f308d8c25e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'core/css/estilo.css'%}">
        
  
      
    </head>

    <body>

        <div class="header__superior">

            <div class="logo">
                <img src="{% static 'core/img/patalogo.png'%}" alt="logo" width="2em">
            </div>
            <div class="titulo">
                <h1><b>AdoptamePliss</b></h1>
            </div>
            <!--Buscar-->    
        
            <div class="search">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        
        </div>


        <header>
            <nav>
                <!--Menu-->
                <div class="container__menu ">
        
                    <div class="menu">
                        <input type="checkbox" id="check__menu">
                        
                        
                            <nav>
                                <ul>
                                
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li><a href="#">Adoptame</a>
                                        <ul>
                                            <li><a href="{% url 'perro' %}">Perro</a></li>
                                            <li><a href="{% url 'gato' %}">Gato</a></li>
                                        </ul>
                
                                    <li><a href="#">Tienda</a>
                                        <ul>
                                            <li><a href="{% url 'cosas_perros' %}">Cosas de Perro</a></li>
                                            <li><a href="{% url 'cosas_gatos' %}">Cosas de Gato</a></li>
                                            <li><a href="{% url 'comida' %}">Comida</a></li>
                                        </ul>
                                        <li><a href="{% url 'veterinario' %}">Veterinario</a></li>
                                            <li><a href="{% url 'formulario_de_contacto' %}">Contacto</a></li>
                                            <li>
                                                <nav class="inicioseccion">
                                                    <button class="btn btn-outline-success "><a href="{% url 'iniciar_sesion' %}"><img src="{%static 'core/img/icons8-usuario-64.png'%}" alt=""></a></button>
                                                </nav>
                                            </li>
                                        </li>
                                    </li>
                                </ul>
                            </nav>
                        </input>
                    </div>
                </div>
            </nav>
        </header>

        
        
        <form style="text-align: center; ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Registrar usuario</h3>
                </div>
                <form method="post" action="" id="formularioR">
                    {% csrf_token %}
                    <div class="form-group">
                    {{ form.as_table}}
                    </div>
                    
                        
                </form>
                <input type="submit" class"btn btn-danger" id="enviar" value="Enviar">
                <input type="reset" class"btn btn-primary" id="Limpiar" value="Limpiar">
                <div id="error" class="alert alert-danger" role="alert"></div>
                <div class="alert alert-success" role"alert">
                    {{mensaje}}
                </div>
            </div>
            <a href="{% url 'adminUsuarios' %}">Administrar</a>
            
        </form>
        
    </body>
</html>
